@font-face {
  font-family: 'Palanquin-Bold';
  src: url('../fonts/palanquin-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Dark-Bold';
  src: url('../fonts/palanquindark-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Dark-Medium';
  src: url('../fonts/palanquindark-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Dark-Regular';
  src: url('../fonts/palanquindark-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Dark-Semibold';
  src: url('../fonts/palanquindark-semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Extralight';
  src: url('../fonts/palanquin-extralight.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Light';
  src: url('../fonts/palanquin-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Medium';
  src: url('../fonts/palanquin-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Regular';
  src: url('../fonts/palanquin-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Semibold';
  src: url('../fonts/palanquin-semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Palanquin-Thin';
  src: url('../fonts/palanquin-thin.ttf') format('truetype');
}

section.main button, section.main input, section.main label, section.main a {
  font-family: 'Palanquin-Medium';
}

section.main {
  position: relative;
  height: calc(100vh - 90px);
}
header {
  margin-left: 7.5%;
}
header nav{
  position: absolute;
  top: 0;
}
nav ul {
  display: flex;
  align-items: flex-end;
  padding-left: 0;
}

nav ul li {
  list-style: none;
  padding: 5px 25px;
}
nav ul li:first-child {
  padding-left: 0;
}
nav ul li:last-child {
  padding-right: 0;
}
nav ul li.logo {
  padding: 0 25px 0 0;
}
nav ul li a {
  color: #aaa;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Palanquin-Regular';
}
nav ul li a:hover {
  text-decoration: none;
}
nav ul li a.active {
  color: #57a8ff;
}
.main-content {
  height: 100%;
  display: flex;
}
.find-content {
  width: 50%;
  height: 100%;
  background-color: #fcf8f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset -7px 0 50px -9px #dadada;
}
.find-content .index-part h1 {
  font-family: 'Palanquin-Regular';
  font-size: 43px;
  width: 100%;
  padding: 0 15%;
  letter-spacing: 2px;
}
.login-part {
  display: none;
}
.login-part h2 {
  font-size: 30px;
  font-family: 'Palanquin-Medium';
  padding: 0 15%;
  margin-bottom: 70px;
}
.login-part .input {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
}
.login-part .input label, .signup-part .input label {
  font-size: 14px;
  color: #aaa;
}
.login-part .input input, .signup-part .input input {
  padding: 10px 25px;
  margin-bottom: 30px;
}
.login-part a.login {
  margin-left: 15%;
  background-color: #0f76ff;
  color: #fff;
  padding: 13px 20px;
  width: 40%;
  margin-top: 50px;
  cursor: pointer;
}
.signup-part {
  display: none;
}
.signup-part h2{
  font-size: 30px;
  font-family: 'Palanquin-Medium';
  padding: 0 15px;
  margin-bottom: 70px;
}
.signup-part .row {
  margin: 0;
}
.signup-part .input {
  display: flex;
  flex-direction: column;
}
.signup-part .rt-home {
  display: flex;
  align-items: center;
  margin-top: 60px;
  cursor: pointer;
  color: #555;
}
.signup-part .rt-home a {
  color: #555;
  font-weight: 600;
  margin: 0;
}
.signup-part button.signup {
  background-color: #0f76ff;
  color: #fff;
  padding: 13px 20px;
  width: 75%;
  margin-top: 50px;
  cursor: pointer;
}
.slider-content {
  width: 50%;
  overflow: hidden;
  background-image: url('../img/pexels-photo-208526.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-content .slider {
  margin: 0;
  height: 100%;
  width: auto;
  max-width: none;
}
.slider-content ul.slider li {
  height: 100%;
  width: auto;
}
.slider-content ul.slider li img {
  height: 100%;
  width: auto;
}
.pro-search {
  display: flex;
  width: 70%;
  align-items: center;
  margin: 50px 0 30px 15%;
  border-radius: 4px;
  box-shadow: 0px 4px 20px 3px #dadada;
}
.pro-search input {
  width: calc(100% - 158px);
  padding: 15px 45px 15px 30px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pro-search i {
  margin-left: -42px;
  font-size: 17px;
  padding: 15px;
  color: #999;
}
button.find {
  padding: 16px 30px;
  background-color: #0f76ff;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.keys {
  display: flex;
  margin-left: 15%;
}
.keys button {
  background-color: #fff;
  color: #888;
  border-radius: 30px;
  font-size: 12px;
  padding: 7px 20px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

footer {
  height: 90px;
}
footer nav {
  height: 100%;
}
footer nav ul {
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.5%;
}
footer nav ul li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #ccc;
  font-family: 'Palanquin-Medium'
}
footer nav ul li a i {
  margin-right: 10px;
  font-size: 26px !important;
}

@media screen and (max-width: 768px) {
  section.main {
    height: auto;
  }
  .main-content {
    display: block;
  }
  .find-content, .slider-content {
    width: 100%;
    height: 100vh;
  }
}